<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>
<body>
    <div class="banner contact">
        banner image
    </div>
    <div class="team">
        <div class="container">
            <div class="row">
                <h2>Team Members</h2>
                <div class="col col-3-md col-4-lg">Member 1</div>
                <div class="col col-3-md col-4-lg">Member 1</div>
                <div class="col col-3-md col-4-lg">Member 1</div>
                <div class="col col-3-md col-4-lg">Member 1</div>
                <div class="col col-3-md col-4-lg">Member 1</div>
            </div>
        </div>
    </div>
</body>
</html>